body {
    background-color: #FFF;
    color: rgb(89, 88, 88);
    font-family: 'PT Serif', serif;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

h4 {
    display: flex;
    justify-content: center;
}

img {
    width: 115px;
    float: left;
}

span {
    font-size: 30px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    font-size: 14px;
    position: relative;
    margin: 20px 15px 15px 20px;
}

.city-input {
    width: 225px;
    height: 50px;
    font-size: 1.2rem;
    display: block;
    border: 1px solid #B7B7DB;
    border-radius: 5px 0 0 5px;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    padding-top: 5px !important;
    padding-bottom: -5px !important;
    padding-left: 5px !important;
    height: 45px;
}

.city-input:focus {
    outline: none;
    padding: 0;
    margin: 0;
}

.control-label {
    color: #999;
    font-size: 1.2rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.city-input:focus~label,
.city-input:valid~label {
    top: -1px;
    left: 5px;
    font-size: 12px;
    color: #555;
    margin: 5px 5px -5px 0px;
    padding: 0;
}


/* animations  */

@-webkit-keyframes inputHighlighter {
    from {
        background: #4285f4;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #4285f4;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #4285f4;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.submit-button {
    height: 52px;
    font-size: 14px;
    font-weight: 600;
    color: #4848b4;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 0 5px 5px 0;
    border: 1px solid #B7B7DB;
    display: inline-block;
    cursor: pointer;
    padding: 7px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-bottom: 30px;
    outline: none;
}

.submit-button:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.city-title {
    margin-top: 15px;
    font-size: 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-top: 15px;
    width: 380px;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 33%, 97%);
    border: 1px solid #B7B7DB;
    border-radius: 5px;
    box-shadow: 7px 10px 17px 0px rgba(184, 175, 184, 1);
}

.secondary-main-content-container {
    display: flex;
    flex-direction: column;
    width: 155px;
}

.thermalInfo {
    justify-content: center;
    margin: 20px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #FFF;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .main-content {
        width: fit-content;
        font-size: 1rem;
        padding-bottom: 20px;
        margin: 30px 0;
    }
    h2 {
        font-size: 100%;
    }
}